$color-black: #3c3c3c;
$color-grey: #cccccc;
$color-lightgrey : #f0efef;
$color-blue : #489afa;
body.quotation-quoteme {
    img {
        max-width: 100%;
        height: auto;
    }
    .container {
        width: 100%;
        max-width: 1200px!important;
        margin: 0 auto;
    }
    .grid {
        padding: 0 16px;
        max-width: 100%;
    }
    h1,h3,h4,p,small {
        font-family: 'Roboto';
        color : #3c3c3c;
        font-weight: normal;
    }

    h1 { font-size: 38px; }
    h3 { font-size: 30px; }
    h4 {
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
    }
    p,small { font-size: 14px;}
    p { line-height: 150%; font-size: 12px;}
    strong { font-weight: bold;}

    .line-padding-top {
        padding-top: 20px;
    }
    .line-padding-bottom {
        padding-bottom: 20px;
    }

    .number-input input[type=number] {
        display: inline-block;
        padding: 6px;
        width: 80px;
        height: auto;
        max-width: none;
        max-height: none;
    }

    .compatibility {
        i.fa{
            font-size: 2.4rem;
            color : $color-grey
        }

        input:checked + label i.fa {
            color: $color-blue;
        }
    }

    .checkbox2 {
        input {
            top: 2px;
            left: 3px;
            border: none;
        }
    }

    .extras {
        margin-bottom: 4px;
        color: $color-black;
        input .checkmark {

        }
    }

    .radio2 label {
        color: $color-black;
    }

    .form-fields {
        .col-1-2:first-child {
            padding-right: 5px;
        }

        .col-1-2:last-child {
            padding-left: 5px;
        }
        input[type=text],
        input[type=email] {
            line-height: 26px;
        }

        input[type=text],
        input[type=email],
        textarea {
            width : 100%;
            padding: 5px;
            border-radius: 6px;
            border: 1px solid $color-grey;
        }

        .col-full {
            input[type=file] {

            }
            label {
                font-size: 12px;
                color: $color-black;
            }
            span.red {
                color : red;
            }
        }
    }

    .sidebar {
        background-color: $color-lightgrey;
        .title-side {
            .side-item {
                padding: 0;
                h3 {
                    line-height: 50px;
                    margin: 0;
                    padding: 0 0 0 6px;
                    font-size: 20px;
                }
            }
        }
        .content {
            border-bottom: 1px solid #cccccc;
            .group {
                h4,p {
                    margin: 0;
                    line-height: 200%;
                    font-size: 12px;
                }
                h4 { font-weight: normal;}
                p {
                    font-weight: bold;
                }
            }
        }
        .sub-title-side {
            .item {
                padding: 0;
                font-size: 12px;
                line-height: 250%;
                color: $color-black;
                .discount {
                    color: red;
                }
            }
        }

        .foot-title-side {
            background-color: $color-lightgrey;
            .total {
                font-size: 24px;
                color: $color-black;
            }
            small { font-size: 10px;}
        }
    }

    .blockUI-message {
        background-color: rgba(40, 40, 40, 0.5);
        padding: 40px;
        border-radius: 4px;
        box-shadow: 1px 1px 3px #000;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px) {
    body.quotation-quoteme {
        header {
            .item-list {
                text-align: center;
                .item {
                    width: 30%;
                    padding: 0;
                }
            }
        }
        section.grid {
            ul.radio2 {
                li {
                    margin: 0;
                }
            }
        }

        .compatibility ul.checkbox2 {
            li {
                width: 30%;
                margin: 0;
            }
        }

        .form-fields {
            .col-1-2:first-of-type {
                padding: 0;
                padding-bottom: 12px;
            }

            .col-full {
                input[type=checkbox] {
                    float: left;
                    width: 20px;
                    margin-left: 20px;
                }
                label {
                    float: left;
                    text-align: left;
                    width: calc(100% - 50px;)
                }
                &:after {
                    content : " ";
                    clear:both;
                    float: none;
                    display: block;
                }
            }
        }
    }
}
