.quoteme-upgrade-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .card {
        flex:0 0 200px;
        margin: 10px;
        border: 1px solid #ccc;
        min-width: 0;
        padding: 0;
        header {
            text-align: center;
            color : white;
            font-weight: normal;
            font-size: 2rem;
            text-transform: capitalize;
            background-color: $color-blue;
            padding: 14px;
        }
        .body {
            padding: 14px;
            .price {
                color: black;
                text-align: center;
                .fee-format {
                    display: inline-block;
                    text-align: center;
                    position: relative;
                    padding: 0 12px;
                    sup {
                        position: absolute;
                        top: 4px;
                        left: 0;
                        font-size: 1rem;
                    }
                    span.fee {
                        font-size: 2rem;
                    }
                }
                .info {
                    text-align: center;
                    display: block;
                    color: #666;
                    font-size: .8rem;
                    text-transform: capitalize;;
                }
            }
            ul {
                margin: 20px 0 0;
                li {
                    border-bottom: 1px solid #ccc;
                    line-height: 28px;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        footer {
            text-align:center;
            padding-bottom: 14px;
            a {
                max-width: 45%;
                display: inline-block;
                background-color: $color-blue;
                text-transform: uppercase;
                color: white;
                text-decoration: none;
                padding: 8px 14px;
            }
        }
    }
}
