$color-blue:  #009FE3;
$color-red: #CA0C0B;

@import 'upgrade';

.quoteme-admin-holder {
    h2 {
        font-size: 1.4rem!important;
        padding-left: 0!important;;
        margin-bottom: 0!important;
        line-height: 1!important;
    }

    h3 {
        border-bottom : 1px solid black;
    }

    img {
        max-width: 100%;
    }
}
