body.quotation-quoteme img {
  max-width: 100%;
  height: auto; }

body.quotation-quoteme .container {
  width: 100%;
  max-width: 1200px !important;
  margin: 0 auto; }

body.quotation-quoteme .grid {
  padding: 0 16px;
  max-width: 100%; }

body.quotation-quoteme h1, body.quotation-quoteme h3, body.quotation-quoteme h4, body.quotation-quoteme p, body.quotation-quoteme small {
  font-family: 'Roboto';
  color: #3c3c3c;
  font-weight: normal; }

body.quotation-quoteme h1 {
  font-size: 38px; }

body.quotation-quoteme h3 {
  font-size: 30px; }

body.quotation-quoteme h4 {
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize; }

body.quotation-quoteme p, body.quotation-quoteme small {
  font-size: 14px; }

body.quotation-quoteme p {
  line-height: 150%;
  font-size: 12px; }

body.quotation-quoteme strong {
  font-weight: bold; }

body.quotation-quoteme .line-padding-top {
  padding-top: 20px; }

body.quotation-quoteme .line-padding-bottom {
  padding-bottom: 20px; }

body.quotation-quoteme .number-input input[type=number] {
  display: inline-block;
  padding: 6px;
  width: 80px;
  height: auto;
  max-width: none;
  max-height: none; }

body.quotation-quoteme .compatibility i.fa {
  font-size: 2.4rem;
  color: #cccccc; }

body.quotation-quoteme .compatibility input:checked + label i.fa {
  color: #489afa; }

body.quotation-quoteme .checkbox2 input {
  top: 2px;
  left: 3px;
  border: none; }

body.quotation-quoteme .extras {
  margin-bottom: 4px;
  color: #3c3c3c; }

body.quotation-quoteme .radio2 label {
  color: #3c3c3c; }

body.quotation-quoteme .form-fields .col-1-2:first-child {
  padding-right: 5px; }

body.quotation-quoteme .form-fields .col-1-2:last-child {
  padding-left: 5px; }

body.quotation-quoteme .form-fields input[type=text],
body.quotation-quoteme .form-fields input[type=email] {
  line-height: 26px; }

body.quotation-quoteme .form-fields input[type=text],
body.quotation-quoteme .form-fields input[type=email],
body.quotation-quoteme .form-fields textarea {
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #cccccc; }

body.quotation-quoteme .form-fields .col-full label {
  font-size: 12px;
  color: #3c3c3c; }

body.quotation-quoteme .form-fields .col-full span.red {
  color: red; }

body.quotation-quoteme .sidebar {
  background-color: #f0efef; }
  body.quotation-quoteme .sidebar .title-side .side-item {
    padding: 0; }
    body.quotation-quoteme .sidebar .title-side .side-item h3 {
      line-height: 50px;
      margin: 0;
      padding: 0 0 0 6px;
      font-size: 20px; }
  body.quotation-quoteme .sidebar .content {
    border-bottom: 1px solid #cccccc; }
    body.quotation-quoteme .sidebar .content .group h4, body.quotation-quoteme .sidebar .content .group p {
      margin: 0;
      line-height: 200%;
      font-size: 12px; }
    body.quotation-quoteme .sidebar .content .group h4 {
      font-weight: normal; }
    body.quotation-quoteme .sidebar .content .group p {
      font-weight: bold; }
  body.quotation-quoteme .sidebar .sub-title-side .item {
    padding: 0;
    font-size: 12px;
    line-height: 250%;
    color: #3c3c3c; }
    body.quotation-quoteme .sidebar .sub-title-side .item .discount {
      color: red; }
  body.quotation-quoteme .sidebar .foot-title-side {
    background-color: #f0efef; }
    body.quotation-quoteme .sidebar .foot-title-side .total {
      font-size: 24px;
      color: #3c3c3c; }
    body.quotation-quoteme .sidebar .foot-title-side small {
      font-size: 10px; }

body.quotation-quoteme .blockUI-message {
  background-color: rgba(40, 40, 40, 0.5);
  padding: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  font-size: 1.5rem; }

@media screen and (max-width: 480px) {
  body.quotation-quoteme header .item-list {
    text-align: center; }
    body.quotation-quoteme header .item-list .item {
      width: 30%;
      padding: 0; }
  body.quotation-quoteme section.grid ul.radio2 li {
    margin: 0; }
  body.quotation-quoteme .compatibility ul.checkbox2 li {
    width: 30%;
    margin: 0; }
  body.quotation-quoteme .form-fields .col-1-2:first-of-type {
    padding: 0;
    padding-bottom: 12px; }
  body.quotation-quoteme .form-fields .col-full input[type=checkbox] {
    float: left;
    width: 20px;
    margin-left: 20px; }
  body.quotation-quoteme .form-fields .col-full label {
    float: left;
    text-align: left;
    width: calc(100% - 50px); }
  body.quotation-quoteme .form-fields .col-full:after {
    content: " ";
    clear: both;
    float: none;
    display: block; } }
