/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  font-family: 'Roboto', sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 1200px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3,
.col-full {
  /*padding-left: 15px;
  padding-right: 15px; */
}
.col-1-3,
.col-2-3,
.col-1-2,
.col-full  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-2 {
  width: 50%;
}
.col-full {
  width: 100%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #333333;
}
h1, h3, h4, h5, p {
  margin-bottom: 5px;
}
h1, h2, h3, h4, h5, p {
  font-weight: normal;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}
small {
  padding: 8px;
  display: block;
  font-size: 14px;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;
  background: #fff;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: .5px;
  padding: 40px 0 0px 0;
}
.center {text-align: center;}
.tagline {
  margin: 0 0 22px 0;
  text-align: center;
  font-size: 14px;
  display: block;
}
header {
  border-bottom: 1px solid #ccc;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  /*text-align: right;*/
  padding: 10px 0;
  height: 140px;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}
.line-padding {
  padding-top: 40px;
}

/* FORM */
.item {
  padding: 30px 20px;
}
.item p {
  padding: 5px 0;
}
.item input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.item input[type=radio] + img {
  cursor: pointer;
  border: 2px solid #cccccc;
  border-radius: 6px;
}
.item input[type=radio]:checked + img {
  /*outline: 2px solid #489AFA; */
  border: 2px solid #489AFA;
  border-radius: 6px;
}
.group label {
  display: inline-block;
  /*padding: 0 10px;*/
}
.group label:hover {
      -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* type number */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="file"], input[type="text"], textarea {
  border: 1px solid #cccccc;
  border-radius: 6px;
}
textarea {
  padding: 12px;
  width: 90%;
}
input[type="file"] {
  width: 80%;
}
input[type="text"] {
  line-height: 26px;
  padding: 5px;
}

.number-input {
  border: 0;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;

}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  /*font-family: sans-serif;*/
  max-width: 5rem;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-width: 1px 1px;
  font-size: 1.2rem;
  height: 3rem;
  text-align: center;
  color:#333333;
}
/* radio button style 2 */
.radio2 {
     list-style-type:none;
     margin:10px 0;
     padding:0;
}
.radio2 li {
    /*float:left;*/
    display: inline-block;
    margin:0 25px 0 0;
    width:250px;
    height:40px;
    position:relative;
}
.radio2 label, .radio2 input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.radio2 input[type="radio"] {
    opacity:0.011;
    z-index:100;
}
.radio2 input[type="radio"]:checked + label {
    /* background:yellow; */
    border: 2px solid #489AFA;
    color: #489AFA;
}
.radio2 label {
     padding:10px;
     border:2px solid #CCC;
     cursor:pointer;
     border-radius: 4px;
    z-index:90;
}
.radio2 label:hover {
     background:#DDD;
}

/* checkbox button style 2 */
.checkbox2 {
     list-style-type:none;
     margin:10px 0;
     padding:0;
}
.checkbox2 li {
    display: inline-block;
    margin:0 10px 0 0;
    width:100px;
    height:100px;
    position:relative;
}
.checkbox2 label, .checkbox2 input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.checkbox2 input[type="checkbox"] {
    opacity:1;
    z-index:100;

}
.checkbox2 input[type="checkbox"]:checked + label {
    /* background:yellow; */
    border: 2px solid #489AFA;
    color: #489AFA;
}
.checkbox2 label {
     padding-top:20px;
     border:1px solid #CCC;
     cursor:pointer;
     border-radius: 4px;
    z-index:90;
}
.checkbox2 label:hover {
     background:#DDD;
}

.extras input[type="checkbox"] {
  vertical-align: middle;
  padding: 8px 4px;
  cursor: pointer;
}

input#wordpress:checked ~ label#id2{
  display:block;
}
input#woocommerce:checked ~ label#id3{
  display:block;
}
.tabcontent {

}
.tabcontent img, .tabcontent h3 {
  float: left;
}
.tabcontent h3 {
  padding: 12px 0 0 10px;
}
.sidebar {
  border: 1px solid #cccccc;
  border-radius: 6px;
  margin-top: 15px;
  background: #ccc;
  /*position: fixed;
  max-width: 400px;
  background: lightgrey; */
}

/* The extras */
.extras {
  /*display: block;*/
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 25px;
}

/* Hide the browser's default checkbox */
.extras input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.extras .checkmark {
  border: 1px solid #2196F3;
  border-radius: 4px;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.extras:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.extras input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.extras input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.extras .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 15px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.line-padding-bottom {
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .col-1-3 {
  width: 100%;
  }
  .col-2-3 {
    width: 100%;
  }
  .col-1-2 {
    width: 100%;
  }
  .container, .grid {
    width: 100%;
  }
}

.title-side {
  border-bottom: 1px solid #cccccc;
  background: #fff;
  padding: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.sub-title-side {
    border-bottom: 1px solid #cccccc;
  background: #fff;
  padding: 15px;
}
.line-padding-8 {padding-top: 15px;}
.border-bottom {
  border-bottom: 1px dashed #333;
}
.content {
  padding-left: 15px;
  padding-right: 15px;
}
.side-item {
  padding: 10px 0;
  line-height: 1.5em;
}
.right {
  float: right;
}
.red {
  color: red;
}
.foot-title-side {
  background: #ccc;
  padding: 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.total {
  font-size: 36px;
}
.total span {
  font-weight: bold;
}

/**
 * Custom made by Ridwan Arifandi
 */
