.quoteme-upgrade-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .quoteme-upgrade-holder .card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    min-width: 0;
    padding: 0; }
    .quoteme-upgrade-holder .card header {
      text-align: center;
      color: white;
      font-weight: normal;
      font-size: 2rem;
      text-transform: capitalize;
      background-color: #009FE3;
      padding: 14px; }
    .quoteme-upgrade-holder .card .body {
      padding: 14px; }
      .quoteme-upgrade-holder .card .body .price {
        color: black;
        text-align: center; }
        .quoteme-upgrade-holder .card .body .price .fee-format {
          display: inline-block;
          text-align: center;
          position: relative;
          padding: 0 12px; }
          .quoteme-upgrade-holder .card .body .price .fee-format sup {
            position: absolute;
            top: 4px;
            left: 0;
            font-size: 1rem; }
          .quoteme-upgrade-holder .card .body .price .fee-format span.fee {
            font-size: 2rem; }
        .quoteme-upgrade-holder .card .body .price .info {
          text-align: center;
          display: block;
          color: #666;
          font-size: .8rem;
          text-transform: capitalize; }
      .quoteme-upgrade-holder .card .body ul {
        margin: 20px 0 0; }
        .quoteme-upgrade-holder .card .body ul li {
          border-bottom: 1px solid #ccc;
          line-height: 28px; }
          .quoteme-upgrade-holder .card .body ul li:last-child {
            border-bottom: none; }
    .quoteme-upgrade-holder .card footer {
      text-align: center;
      padding-bottom: 14px; }
      .quoteme-upgrade-holder .card footer a {
        max-width: 45%;
        display: inline-block;
        background-color: #009FE3;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        padding: 8px 14px; }

.quoteme-admin-holder h2 {
  font-size: 1.4rem !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  line-height: 1 !important; }

.quoteme-admin-holder h3 {
  border-bottom: 1px solid black; }

.quoteme-admin-holder img {
  max-width: 100%; }
